.feature {
  height: 100%;
  border: 1px solid $white-offset;
  border-radius: 3px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
 
  
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
    font-size: 0.9em; /* Increase the font size */
    line-height: 1.5; /* Add some extra line height */
    color: cornflowerblue; /* Set the text color to a dark gray */
    text-align: left; /* Center the text within the element */
    font-weight: bold; /* Make the text bold */
    /* Convert the text to uppercase */
    letter-spacing: 0.05em; /* Add some letter spacing */
    /* Use a different font */
   font-style:normal;
  }
  
  
    
  
}
