.logo {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
    img {
      height: 70px;
      max-width: unset;
      /* Update the max-width property to increase the logo size */
      max-width: 150px; /* Adjust the value to your desired size */
    }
  }
  /* Rest of the CSS code */
}

.logo-mobile {
  display: block;
  width: 40px;
  padding: 10px 0 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
    /* Update the width property to increase the logo size */
    width: 40px; /* Adjust the value to your desired size */
  }
  /* Rest of the CSS code */
}
