---
layout: default
bodyClass: page-awards-list
---

<style>
  ul.navbar-horizontal {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .nav-item-equal {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .important-announcement {
    background-color: #f8d7da;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 5px;
  }
</style>

<ul class="navbar-nav navbar-horizontal" style="margin-left: 7rem;">
  {% assign weighted_awards = site.awards | sort: "weight" %}
  {% for award in weighted_awards %}
    <li class="nav-item nav-item-equal">
      <a class="nav-link" href="{{ award.url | relative_url }}">{{ award.title }}</a>
    </li>
  {% endfor %}
</ul>

<div class="intro">
   <div class="container">
     <div class="row justify-content-start">
       {% if page.intro_image %}
       <div class="col-12">
         <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image }}" />
       </div>
       {% endif %}
       <div class="col-12 col-md-8 col-lg-7">
         {{ content }}
       </div>
     </div>
   </div>
</div>
